.Rproj.user/
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
*-Ex.R
/*.tar.gz
/*.Rcheck/
/doc/
/Meta/
inst/doc
vignettes/*.html
vignettes/*.pdf
.httr-oauth
/cache
*_cache/
rsconnect/
.vscode
air.toml
.vdoc*
/.quarto/
**/*.quarto_ipynb
*_memoise
gencode*annotation*
TODO_*
/docs/*/*.md
